body {
  background-color: grey;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: darkgoldenrod;
}
.Title, .list, .table, .Form {
  margin: 20px;   
  padding: 20px;  
}
.Title, .list, .table{
  border: 1px solid ;              
  background-color: white;             
  box-shadow: 2px 2px 10px grey;       
  border-radius: 20px;                 
}
.Form{
  border: 1px solid ;              
  background-color: white;             
  box-shadow: 2px 2px 10px grey;       
  border-radius: 10px;

}

table {
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}


input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px;
  background-color: green;
  color: white;
  border: none;
}
img{
  align-items: center;
}
